__pycache__/
week 3/datasets/*
food_dataset/*
/week 4/FoodSAM/*
!/week 4/FoodSAM/main.py
!/week 4/FoodSAM/outputs/
!/week 4/FoodSAM/llm_outputs/
/week 4/yolov12/*
!/week 4/yolov12/main.py
!/week 4/yolov12/runs/
